.card-container,
.card-head,
.card-title,
.card-title .card-cta {
  display: flex;
  flex-direction: row;
}

.card-container,
.video-container {
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
}

.card {
  width: 18rem;
  cursor: pointer;
  box-shadow: var(--secondary-color) 0px 0px 5px 1px;
}

.card .single-page-url {
  color: black;
  text-decoration: none;
}

.card-img {
  width: 100%;
  height: 12rem;
  object-fit: contain;
}

.card-title,
.card-head {
  align-items: center;
}

.card-title {
  justify-content: space-between;
  margin: 0.5rem;
}

.card-title .card-title-header {
  font-size: 1rem;
}

.card-title .like-btn,
.card-title .watch-later-btn,
.card-head .verified-icon {
  padding-top: 5px;
}

.card-title .card-cta {
  gap: 0.5rem;
}

.card-head {
  justify-content: flex-start;
  margin: 0 0.5rem 0.2rem 0.5rem;
}

.card-head .verified-icon {
  margin-left: 5px;
}

.card-description {
  display: flex;
  flex-direction: column;
}

.card-description .views-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 0.1rem 0.5rem 0.5rem 0.5rem;
}

@media only screen and (max-width: 600px) {
  .card-container {
    justify-content: center;
  }
}

.video-container {
  max-width: 70%;
}

.video-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.footer-title .video-creator-name {
  font-size: 1rem;
  border: 1px solid;
  padding: 0.5rem;
  max-width: fit-content;
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--background-color);
  margin: 0.5rem 0;
}

.footer-btn-list,
.icon-container {
  display: flex;
  flex-direction: row;
}

.footer-btn-list {
  gap: 1rem;
}

.icon-container {
  cursor: pointer;
}

.footer-btn-list .icon-container {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.icon-container > .text {
  margin-left: 5px;
  font-size: 0.9rem;
}

.footer-description .sub-heading {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
